body{
	background-color: #2566aa;
	font:16px/1 'Sinhala MN', 'trebuchet ms', Arial, sans-serif;
	width: 960px;
	margin: 20px auto;
}

#body{
	background:#e2e2e2;
	border-radius:10px;
	overflow:auto;
}

h1{
	margin:0 0 0 10px;
	color:#042552;
}

h2{
	margin:0px;
	color:#2566aa;
}

h3{
	margin:0px;
}

/*Nav Elements*/

ul{
	width:960px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

ul li{
	display: inline;
}

#nav li{
	width:158px;
	float: left;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid #000;
	text-transform: uppercase;
}

#nav li:hover{
	background-color: #e1e1e1;
	color: #50153d;
}

#nav a{
	display:block;
	height: 20px;
}

#nav a:hover{
	color:#50153d;
	background-color:#e1e1e1;
}

/*Mission Statement*/

#mission_statement{
	border:1px solid #000;
	background-color:#ececec;
	border-radius:10px;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	text-align:center;
	width:445px;
	padding:0 10px;
	margin:10px 0 0 10px;
	float:left;
}

#mission_statement p{
	font-size:20px;
}

/*Calendar & Events */

#calendar{
	margin:10px 5px 0 10px;
	width:450px;
	padding:0 0 10px 10px;
	float:left;
}

table{
	text-align:left;
	float:left;
	margin-right:10px;
	border-collapse:collapse;
}

td{
	border:1px solid #000;
	padding:5px;
}

aside{
	text-align:center;
	font-size:18px;
	padding-right:10px;
}

.hours{
	margin:10px 0 0 5px;
}

.clearfix{
	clear:both;
}

/*Facts*/

#facts{
	width:460px;
	margin-left:10px;
	overflow:auto;
	float:left;
}

#facts ol{
	padding-left:20px;
	margin-top:10px;
}

.school{
	margin:10px;
	border:1px solid #000;
	float:left;
}

.hours{
	font-size:18px;
	float:left;
}

#facts_list{
	float:left;
}

/*Map & Directions*/

.map{
	margin:15px;
	border:1px solid #000;
	border-radius:10px;
	background-color:#fec12b;
	padding:15px;
	float:left;
}

#directions{
	width: 185px;
	padding:10px;
	text-align:center;
	margin:15px 5px 0 0;
	float:left;
}

#directions h2{
	font-size:20px;
}

#directions p{
	font-size:16px;
}

#directions a{
	font-size:12px;
}

/*Footer*/

footer{
	text-align:center;
}